name: PR pipeline
on:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-24.04
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Run Clippy
        run: cargo clippy --no-deps -- -Dwarnings

      - name: Run rustfmt
        run: cargo fmt --check

      - name: Build
        run: cargo build --release

      - name: Run tests
        run: cargo test

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3

      - name: Create GitVersion.yml
        run: |
          cat <<EOF > GitVersion.yml
          major-version-bump-message: '(breaking|major|incompatible):'
          minor-version-bump-message: '(feature|minor|enhancement|new|update|improvement|upgrade|feat):'
          patch-version-bump-message: '(fix|patch|bugfix|hotfix|correction|adjustment|tweak):'
          no-bump-message: '(none|skip|no-release|trivial|docs|documentation|style|refactor|chore|chore\(deps\)|test):'
          EOF

      - name: Run GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v3

      - name: Display GitVersion
        run: |
          echo "Version: ${{ env.majorMinorPatch }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:pr-${{ github.event.pull_request.number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
